{{#if userInSession}}
  <h1>Hello, {{userInSession.username}} this is your profile page!</h1>
{{else}}
  <p>TESTE</p>
{{/if}}

{{! <a type="button" class="btn btn-info" href="/">Favourites</a>
<li class="nav-item">
  <a class="nav-link" href="/auth/logout">Log Out</a>
</li> }}