<div class="container">
    <h1 class="mt-5">How to Play</h1>
    <div class="container mt-3 border">
        <p>Here you'll find everything you need to learn how to play Magic: The
            Gathering.</p>
    </div>

    <div class="container mt-5 mb-5">
        <ol class="list-group list-group-numbered">
            <li class="list-group-item"><a href="#Section-1">How to read a Magic
                    Card
                </a></li>
            <li class="list-group-item"><a href="#Section-2">Card Types and
                    Zones
                </a></li>
            <li class="list-group-item"><a href="#Section-3">Colors of Mana
                </a></li>
            <li class="list-group-item"><a href="#Section-4">Formats
                </a></li>
            <li class="list-group-item"><a href="#Section-5">Deck Construction
                </a></li>
            <li class="list-group-item"><a href="#Section-6">Card Rarity
                </a></li>
            <li class="list-group-item"><a href="#Section-7">Some rules
                </a></li>

            <li class="list-group-item"><a href="#Section-8">Tournaments and
                    Play Styles
                </a></li>

            <li class="list-group-item"><a href="#Section-9">Advanced Gameplay
                </a></li>

            <li class="list-group-item"><a href="#Section-10">Trading and
                    Collecting
                </a></li>
            <li class="list-group-item"><a href="#Section-11">Community and
                    Resources
                </a></li>
            <li class="list-group-item"><a href="#Section-12">Videos
                </a></li>

        </ol>
    </div>

    <!-- How to read a Magic Card -->
    <div id="Section-1" class="container mt-5 mb-5">
        <h2>How to read a Magic Card</h2>
        <div
            class="shadow p-3 mb-5 bg-body rounded container"
            style="width: 70%;"
        >
            <div class="card d-flex">
                <img
                    src="../images/readMagicCard.png"
                    class="card-img-top"
                    alt="How read a Card Magic"
                />
            </div>
        </div>

    </div>

    <hr class="mt-3 mb-3" />

    <!-- Card Types and Zones -->
    <div id="Section-2" class="mt-5 mb-5">
        <h2>Card Types and Zones</h2>
        <div class="shadow p-3 mb-5 bg-body rounded">
            <p><b>Library: </b>Your deck starts here.</p>
            <p><b>Hand: </b>The cards you hold and can play from.</p>
            <p><b>Battlefield: </b>Where your creatures, artifacts, and
                enchantments are placed.</p>
            <p><b>Graveyard: </b>Cards that are discarded, destroyed, or removed
                from play go here.</p>
            <p><b>Exile: </b>Cards can be removed from the game temporarily or
                permanently.</p>
            <p><b>Stack: </b>Where spells and abilities are placed before
                resolving.</p>
        </div>
    </div>

    <hr class="mt-3 mb-3" />

    <!-- Colors of Mana -->
    <div id="Section-3" class="mt-5 mb-5">
        <h2>Colors of Mana</h2>
        <div class="shadow p-3 mb-5 bg-body rounded">
            <!-- Plan -->
            <div class="d-flex align-items-center row-12 mb-2">
                <div class="col-4 ms-3 me-5" style="width: 4rem">
                    <img
                        src="../images/plan.png"
                        class="card-img-top"
                        alt="Plan"
                    />
                </div>
                <div class="col-6">
                    <p>White: Associated with healing, protection, and order.</p>
                </div>
            </div>

            <!-- Blue -->
            <div class="d-flex align-items-center row-12 mt-2">
                <div class="col-4 ms-3 me-5" style="width: 4rem">
                    <img
                        src="../images/blue.png"
                        class="card-img-top"
                        alt="Blue"
                    />
                </div>
                <div class="col-6">
                    <p>Blue: Focused on control, manipulation, and illusions.</p>
                </div>
            </div>

            <!-- Black -->
            <div class="d-flex align-items-center row-12 mt-2">
                <div class="col-4 ms-3 me-5" style="width: 4rem">
                    <img
                        src="../images/black.png"
                        class="card-img-top"
                        alt="Blue"
                    />
                </div>
                <div class="col-6">
                    <p>Black: Emphasizes sacrifice, death, and manipulation.</p>
                </div>
            </div>

            <!-- Red -->
            <div class="d-flex align-items-center row-12 mt-2">
                <div class="col-4 ms-3 me-5" style="width: 4rem">
                    <img
                        src="../images/fire.png"
                        class="card-img-top"
                        alt="Blue"
                    />
                </div>
                <div class="col-6">
                    <p>Red: Centered on aggression, chaos, and direct damage.</p>
                </div>
            </div>

            <!-- Green -->
            <div class="d-flex align-items-center row-12 mt-2">
                <div class="col-4 ms-3 me-5" style="width: 4rem">
                    <img
                        src="../images/green.png"
                        class="card-img-top"
                        alt="Blue"
                    />
                </div>
                <div class="col-6">
                    <p>Green: Involves growth, nature, and powerful creatures.</p>
                </div>
            </div>

        </div>
    </div>

    <hr class="mt-3 mb-3" />

    <!-- Formats -->
    <div id="Section-4" class="mt-5 mb-5">
        <h2>Most popular formats</h2>

        <div class="shadow p-3 mb-5 bg-body rounded">
            <div class="d-flex justify-content-around row-12">
                <!--Format 1-->
                <div class="card d-flex col-4" style="width: 14rem;">
                    <img
                        src="../images/card1.jpg"
                        class="card-img-top"
                        alt="..."
                    />
                    <div class="card-body text-center">
                        <h5 class="card-title">Standard</h5>
                        <p class="card-text">Uses the most recent sets of cards
                            released.</p>
                    </div>
                    <div class="d-flex justify-content-center row-12">
                        <div class="col-4 text-center">
                            <i class="bi bi-collection-fill"></i>
                            <p>60+</p>
                        </div>
                        <div class="col-4 text-center">
                            <i class="bi bi-person-fill-add"></i>
                            <p>2</p>
                        </div>
                        <div class="col-4 text-center">
                            <i class="bi bi-clock-fill"></i>
                            <p>20min</p>
                        </div>

                    </div>
                </div>

                <!--Format 2-->
                <div class="card d-flex col-4" style="width: 14rem;">
                    <img
                        src="../images/card2.jpg"
                        class="card-img-top"
                        alt="..."
                    />
                    <div class="card-body text-center">
                        <h5 class="card-title">Commander</h5>
                        <p class="card-text">A multiplayer format with unique
                            deck-building rules.</p>
                    </div>
                    <div class="d-flex justify-content-center row-12">
                        <div class="col-4 text-center">
                            <i class="bi bi-collection-fill"></i>
                            <p>100</p>
                        </div>
                        <div class="col-4 text-center">
                            <i class="bi bi-person-fill-add"></i>
                            <p>3-5</p>
                        </div>
                        <div class="col-4 text-center">
                            <i class="bi bi-clock-fill"></i>
                            <p>120min</p>
                        </div>

                    </div>
                </div>

                <!--Format 3-->
                <div class="card d-flex col-4" style="width: 14rem;">
                    <img
                        src="../images/card3.jpg"
                        class="card-img-top"
                        alt="..."
                    />
                    <div class="card-body text-center">
                        <h5 class="card-title">Booster Draft</h5>
                        <p class="card-text">Plan your strategy as you open
                            packs on the spot! Build unique decks and battle
                            with the cards you find in each pack.</p>
                    </div>
                    <div class="d-flex justify-content-center row-12">
                        <div class="col-4 text-center">
                            <i class="bi bi-collection-fill"></i>
                            <p>40+</p>
                        </div>
                        <div class="col-4 text-center">
                            <i class="bi bi-person-fill-add"></i>
                            <p>2-8</p>
                        </div>
                        <div class="col-4 text-center">
                            <i class="bi bi-clock-fill"></i>
                            <p>120min</p>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <hr class="mt-3 mb-3" />

    <!-- Deck Construction -->
    <div id="Section-5" class="mt-5 mb-5">
        <h2>Deck Construction</h2>
        <p class="mt-3">Deck should have exactly 60 cards (except in some
            formats like Commander).</p>
        <div
            class="shadow p-3 mb-5 bg-body rounded container"
            style="width: 40rem;"
        >
            <div class="card d-flex">
                <img
                    src="../images/deck1.png"
                    class="card-img-top"
                    alt="How read a Card Magic"
                />
            </div>
        </div>
    </div>

    <hr class="mt-3 mb-3" />

    <!-- Card Rarity -->
    <div id="Section-6" class="mt-5 mb-5">
        <h2>Card Rarity</h2>
        <p class="mt-3">
            Common, Uncommon, Rare, and Mythic Rare: Affects card availability
            and gameplay.</p>
    </div>

    <hr class="mt-3 mb-3" />

    <!-- Some rules -->
    <div id="Section-7" class="mt-5 mb-5">
        <h2>Some rules</h2>
        <!-- Mulligans -->
        <h6 class="mt-3">Mulligans: </h6>
        <p>If your starting hand is unsuitable, you can take a mulligan (draw a
            new hand with one less card).</p>
        <!-- Expansions and sets -->
        <h6 class="mt-3">Expansions and sets: </h6>
        <p>Magic" releases new sets of cards periodically, each with its own
            theme and mechanics.</p>
        <p>Blocks: Several sets released together with a unified storyline and
            mechanics.</p>
    </div>

    <hr class="mt-3 mb-3" />

    <!-- Tournaments and Play Styles -->
    <div id="Section-8" class="mt-5 mb-5">
        <h2 class="mb-3">Tournaments and Play Styles</h2>

        <p><b>Casual Play: </b>Play for fun with friends.</p>
        <p><b>Friday Night Magic: </b>Regular local tournaments for various
            formats.</p>
        <p><b>Grand Prix and Pro Tours: </b>High-level competitive events.</p>
        <p><b>Arena: </b>Online platform for playing "Magic" digitally.</p>
    </div>

    <hr class="mt-3 mb-3" />

    <!-- Advanced Gameplay -->
    <div id="Section-9" class="mt-5 mb-5">
        <h2 classs="mb-3">Advanced Gameplay</h2>
        <p><b>Combo Decks: </b>Utilize specific card combinations for powerful
            effects.</p>
        <p><b>Control Decks: </b>Focus on restricting your opponent's actions.</p>
        <p><b>Aggro Decks: </b>Emphasize fast, aggressive strategies.</p>
    </div>

    <hr class="mt-3 mb-3" />

    <!-- Trading and Collecting -->
    <div id="Section-10" class="mt-5 mb-5">
        <h2 class="mb-3">Trading and Collecting</h2>
        <p>"Magic" cards have varying values based on their rarity and
            playability.</p>
        <p>Collecting and trading can be a significant aspect of the game.</p>
    </div>

    <hr class="mt-3 mb-3" />

    <!-- Community and Resources -->
    <div id="Section-11" class="mt-5 mb-5">
        <h2 class="mb-3">Community and Resources</h2>
        <p>"Magic" has a strong player community, both online and offline.</p>
        <p>Rules and card interactions can sometimes be complex; resources like
            forums and guides can be helpful.</p>
    </div>

    <hr class="mt-3 mb-3" />

    <!-- Videos -->
    <div id="Section-12" class="mt-5 mb-5">
        <h2 class="mb-3">Videos</h2>
        <div class="shadow p-3 mb-5 bg-body rounded">
            <div class="d-flex justify-content-around row row-cols-3 mb-5">
                <!-- Video 1 -->
                <div class="card" style="width: 20rem;">
                    <div class="card-body text-center">
                        <h5 class="card-title">1 - What is Magic?</h5>
                    </div>
                    <div
                        class="d-flex justify-content-center embed-responsive embed-responsive-16by9"
                    >
                        <iframe
                            class="embed-responsive-item"
                            src="https://www.youtube.com/embed/4FTYabdvnHU?rel=0"
                            allowfullscreen
                        ></iframe>
                    </div>

                </div>

                <!--Video 2-->

                <div class="card" style="width: 20rem;">
                    <div class="card-body text-center">
                        <h5 class="card-title">2 - How to Cast a Spell</h5>
                    </div>
                    <div
                        class="d-flex justify-content-center embed-responsive embed-responsive-16by9"
                    >
                        <iframe
                            class="embed-responsive-item"
                            src="https://www.youtube.com/embed/_5eaevtHvzI?rel=0"
                            allowfullscreen
                        ></iframe>
                    </div>

                </div>

                <!--Video 3-->

                <div class="card" style="width: 20rem;">
                    <div class="card-body text-center">
                        <h5 class="card-title">3 - Let's Talk Combat</h5>
                    </div>
                    <div
                        class="d-flex justify-content-center embed-responsive embed-responsive-16by9"
                    >
                        <iframe
                            class="embed-responsive-item"
                            src="https://www.youtube.com/embed/mXMZj?4lz9EArel=0"
                            allowfullscreen
                        ></iframe>
                    </div>

                </div>

            </div>
            <div class="d-flex justify-content-around row row-cols-3">
                <!--Video 4-->

                <div class="card col" style="width: 20rem;">
                    <div class="card-body text-center">
                        <h5 class="card-title">4 -Playing the Game</h5>
                    </div>
                    <div
                        class="d-flex justify-content-center embed-responsive embed-responsive-16by9"
                    >
                        <iframe
                            class="embed-responsive-item"
                            src="https://www.youtube.com/embed/19PTsnbrftY?rel=0"
                            allowfullscreen
                        ></iframe>
                    </div>

                </div>

                <!--Video 5-->

                <div class="card col" style="width: 20rem;">
                    <div class="card-body text-center">
                        <h5 class="card-title">5 - Types of Cards in Magic</h5>
                    </div>
                    <div
                        class="d-flex justify-content-center embed-responsive embed-responsive-16by9"
                    >
                        <iframe
                            class="embed-responsive-item"
                            src="https://www.youtube.com/embed/n2PSxm-beXs?rel=0"
                            allowfullscreen
                        ></iframe>

                    </div>

                </div>

            </div>
        </div>

    </div>
</div>