<h1>Magic The Gathering</h1>
<p>Welcome to the magic world!</p>

{{! <a type="button" class="btn btn-info" href="/auth/..">How to Play</a>
<a type="button" class="btn btn-info" href="/cards">Cards</a>
<a type="button" class="btn btn-info" href="/auth/signup">Sign Up</a>
<a type="button" class="btn btn-info" href="/auth/login">Log In</a> }}
<a type="button" class="btn btn-info" href="/auth/logout">Log Out</a>