<div class="container">
    <div id="carouselExampleCaptions" class="carousel slide mb-5">
        <div class="carousel-indicators">
            <button
                type="button"
                data-bs-target="#carouselExampleCaptions"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
            ></button>
            <button
                type="button"
                data-bs-target="#carouselExampleCaptions"
                data-bs-slide-to="1"
                aria-label="Slide 2"
            ></button>
            <button
                type="button"
                data-bs-target="#carouselExampleCaptions"
                data-bs-slide-to="2"
                aria-label="Slide 3"
            ></button>
            <button
                type="button"
                data-bs-target="#carouselExampleCaptions"
                data-bs-slide-to="3"
                aria-label="Slide 4"
            ></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../images/slide1.png" class="d-block w-100" />
                <div class="carousel-caption d-none d-md-block">
                    <a
                        type="button"
                        class="btn btn-outline-warning"
                        href="https://magic.wizards.com/en/products/the-lord-of-the-rings-tales-of-middle-earth"
                        target="_blank"
                    >See more!</a>
                </div>
            </div>

            <div class="carousel-item">
                <img
                    src="../images/slide3.jpg"
                    class="d-block w-100"
                    alt="..."
                />
                <div class="carousel-caption d-none d-md-block">
                    <figure class="text-center">
                        <blockquote class="blockquote">
                            <p>"Some do. Some teach. The rest look it up."</p>
                        </blockquote>
                        <figcaption class="blockquote-footer text-white">
                            Archivist
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="carousel-item">
                <img
                    src="../images/slide2.jpg"
                    class="d-block w-100"
                    alt="..."
                />
                <div class="carousel-caption d-none d-md-block">
                    <a
                        type="button"
                        class="btn btn-outline-warning"
                        href="https://secretlair.wizards.com/eu"
                        target="_blank"
                    >See more!</a>
                </div>
            </div>
            <div class="carousel-item">
                <img
                    src="../images/slide4.jpg"
                    class="d-block w-100"
                    alt="..."
                />
                <div class="carousel-caption d-none d-md-block">
                    <figure class="text-center">
                        <blockquote class="blockquote">
                            <p>"Sorry I burned down your village. Here's some
                                gold."</p>
                        </blockquote>
                        <figcaption class="blockquote-footer text-white">
                            Someone famous
                        </figcaption>
                    </figure>
                </div>
            </div>

        </div>
        <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev"
        >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next"
        >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="row">
        {{#each randomCards}}
            <div class="col-3 text-center">
                <div class="row d-flex justify-content-center">
                    <div class="row" style="width: 14rem">
                        <img src="{{image_uris.normal}}" />
                    </div>
                </div>
                {{#if ../isLog}}
                    <a href="/cards/{{_id}}" class="btn btn-warning mt-3">See
                        more!</a>
                {{else}}
                        <a href="/auth/login" class="btn btn-warning mt-3">See
                        more!</a>
                {{/if}}
            </div>
        {{/each}}
    </div>

</div>

{{! <a type="button" class="btn btn-info" href="/auth/..">How to Play</a>
<a type="button" class="btn btn-info" href="/cards">Cards</a>
<a type="button" class="btn btn-info" href="/auth/signup">Sign Up</a>
<a type="button" class="btn btn-info" href="/auth/login">Log In</a> }}
<!--<a type="button" class="btn btn-info" href="/auth/logout">Log Out</a>-->