{{#if userInSession}}
    <h1>Hello, {{userInSession}} this is your profile page!</h1>
{{/if}}

<a type="button" class="btn btn-info" href="/auth/signup">Favourites</a>
<a type="button" class="btn btn-info" href="/auth/logout">Log Out</a>