{{#if userInSession}}
  <h1>Hello, {{userInSession.username}} this is your profile page!</h1>
{{else}}
  <p>TESTE</p>
{{/if}}

<a type="button" class="btn btn-info" href="/">Favourites</a>
<a type="button" class="btn btn-info" href="/auth/logout">Log Out</a>