<div class="container d-flex">
    <div class="row d-flex">
        {{#each cards}}
            <div class="col-3 mt-3 border border-dark">
                <div class="card" style="width: 16rem;">
                    <img
                        src="{{image_uris.normal}}"
                        class="card-img-top"
                        alt="{{name}}"
                    />
                    <a href="/cards/{{_id}}" class="btn btn-primary">See more!</a>
                </div>
            </div>
        {{/each}}
    </div>
</div>